.card {
    box-shadow: 0 4px 8px 0 rgba(38, 0, 255, 0.2);
    transition: 0.3s;
    width: 35%;
    margin-left: 30%;
    border: 3px solid black;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(38, 0, 255, 0.2);
    transition: 0.3s;
    margin-left: 20%;
    border: 3px solid black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(38, 0, 255, 0.2);
}

form {
    background-color: rgb(102, 206, 126);
    text-align: center;
}

#example1 {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip: border-box;
}

#example2 {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip: padding-box;
}

#example3 {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip: content-box;
}