
      * {
        box-sizing: border-box;
      }

      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }

      .row::after {
        content: "";
        clear: both;
        display: table;
      }
      .padding1 {
        border: 2px solid black; 
        padding: 0px 0px 0px 100px;
        background-color: green;
      }
      .padding2 {
        border: 2px solid black; 
        padding: 0px 0px 0px 0px;
        background-color: red;
      }
      .box{
        background-color: gray; 
        border: 2px solid black;
        width: 500px
      }
      .box1{
        background-color: blue; 
        width: 50px; 
        padding: 50px
      }
      .box2{
        background-color: red; 
        width: 50px; 
        padding: 50px
      }
      .box3{
        background-color: green; 
        width: 50px; 
        padding: 50px
      }

      .text-center{
        display: flex;
        justify-content: center;
      }
      table, th, td {
        width: 35%;
        border: 1px solid rgb(25, 141, 83);
        border-collapse: collapse;
      }